@font-face {
  font-family: "Ageta_Chubby_Demo";
  src: url("/common/font/Ageta_Chubby_Demo.otf");
}

@font-face {
  font-family: "Ageta_Chubby_Italic_Demo";
  src: url("/common/font/Ageta_Chubby_Italic_Demo.otf");
}

@font-face {
  font-family: "Autarquica-demo-font-FFP";
  src: url("/common/font/Autarquica-demo-font-FFP.ttf");
}

@font-face {
  font-family: "Bubble3D";
  src: url("/common/font/Bubble3D.ttf");
}

@font-face {
  font-family: "Cowboys";
  src: url("/common/font/Cowboys.otf");
}

@font-face {
  font-family: "EricaOne-Regular";
  src: url("/common/font/EricaOne-Regular.ttf");
}

@font-face {
  font-family: "averta-regular";
  src: url("/common/font/averta-regular.woff2");
}

@font-face {
  font-family: "averta-bold";
  src: url("/common/font/averta-bold.woff2");
}

@font-face {
  font-family: "tiempos-headline-bold";
  src: url("/common/font/tiempos-headline-bold.woff2");
}

@font-face {
  font-family: "tiempos-headline-bold";
  src: url("/common/font/tiempos-headline-semibold.woff2");
}
