.section-title {
  display: grid;
  grid-template-areas: ". . . . ." ". previous title next .";
  grid-template-columns: auto 10% 25% 10% auto;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 50%; }
  .section-title article {
    grid-area: title;
    overflow: hidden;
    justify-items: center;
    align-items: center; }
    .section-title article h1 {
      width: auto; }
  .section-title .previous-btn {
    grid-area: previous;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer; }
    .section-title .previous-btn img {
      width: 50%;
      opacity: 0.8; }
      .section-title .previous-btn img:hover {
        opacity: 1; }
  .section-title .next-btn {
    grid-area: next;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer; }
    .section-title .next-btn img {
      width: 50%;
      opacity: 0.8; }
      .section-title .next-btn img:hover {
        opacity: 1; }

form {
  display: grid;
  grid-template-columns: auto 40% auto;
  grid-template-rows: 30% 10% 10% auto;
  grid-template-areas: ". input ." ". . ." ". output ." ". . .";
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 50%; }
  form section[class*="input-"] {
    grid-area: input;
    width: 100%;
    height: 100%; }
    form section[class*="input-"]:not(:first-of-type) {
      display: none; }
  form .input-name {
    width: 100%;
    height: 100%; }
    form .input-name input {
      width: 100%;
      height: 100%;
      padding: 1rem;
      font-size: 1rem;
      border: 0.1rem solid #e59700;
      text-align: center; }
  form .input-character {
    text-align: center; }
    form .input-character img {
      margin: 1rem;
      border: .1rem solid white;
      transition: border .3s;
      cursor: pointer; }
      form .input-character img:hover {
        border: .1rem solid lightblue; }
      form .input-character img.choosed {
        border: .1rem solid darkblue; }
    form .input-character input {
      display: none; }
  form .output {
    grid-area: output;
    width: 100%;
    height: 100%;
    text-align: center; }
    form .output #error {
      font-size: 1rem; }
    form .output input {
      font-size: 1rem;
      cursor: pointer;
      padding: .5rem; }
