section {
  display: block;
  margin: auto;
  padding-top: 3rem;
  width: 50%; }
  section nav {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 0;
    align: left;
    justify-content: start;
    background: #ffffff; }
    section nav .tag {
      height: auto;
      width: auto;
      padding: 5px 15px;
      margin: 0px 5px;
      background: #ffffff;
      color: black;
      font-size: .75rem;
      border-top: 1.5px solid #ff0f00; }
    section nav .currentTag {
      border-top: 3.5px solid #ff0f00; }
  section table {
    border-collapse: collapse;
    width: 100%;
    height: auto;
    font-size: .6rem; }
    section table th, section table td {
      height: auto;
      width: auto;
      text-align: left;
      padding: 8px; }
    section table th {
      background-color: #ff0f00;
      color: white; }
    section table tr {
      display: grid;
      grid-template-columns: 15% 35% 50%; }
    section table tr:nth-child(even) {
      background-color: #ffafa8; }

.redirect {
  display: block;
  margin: 1rem auto;
  padding: .5rem 1rem;
  border: 2px solid #ff0f00;
  border-radius: .8rem;
  background: #ffffff;
  color: #ff0f00;
  font-size: .5rem; }

.redirect:hover {
  /*background: $base_color;*/
  background: linear-gradient(to bottom, #ff0f00, #ff493d);
  color: #ffffff; }
